/* Add this style to your CSS or global styles */
::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

/* Firefox scrollbar */
* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}
